body{
    padding: 0;
    margin: 0;
    background-image: linear-gradient(to top, #000000, #110f11, #19191d, #1e2329, #202e33, #2b3b3f, #37484b, #445557, #5b686c, #737b81, #8c9094, #a4a5a8);
    font-family: "Arial Black";
}
#rep1,#rep2,#rep3,#rep4{
    border: solid black;
    padding-left: 2%;
    width: 40%;
    height: 50px;
    display: block;
    text-align: center;
    margin-top: 3%;
    margin-left: 30%;
    background-color: #000000;
    color: #c4e7c6;
    border-radius: 5px;
}
#question{
    margin-top: 5%;
    border: solid black;
    width: 100%;
    height: 70px;
    text-align: center;
    background-color: black;
    color: #b6d5a6;
    border-radius: 4%;
}
header{
    text-align: center;
    font-size: 5vh;
    color: #c4e7c6;



}
#score{
    height: 100%;
    width: 100%;
    text-align: center;
    padding-top: 10% ;
    color: #c4e7c6;

}




